.top-ad,.top-login,.nav-menu-cursor,.head-city { display:none !important;}
.header { height: 145px; background: none; }
.logo-box { width: 220px; height: 145px; }
.logo { width: 220px; }
.logo a { display: block; line-height: 145px; height: 145px; text-align: center; background: #fff; }
.logo a img { vertical-align: middle; }
.search { margin-left:115px;}
.navigation { border-bottom: none; background: none; margin-top: -45px; }
.nav { margin-left: 230px; margin-top: -45px; }
.nav-menu { top: 45px; background: rgba(51,51,51,.6); }
.nav-menu dl dt span a { color: #fff; opacity: .7; }
.nav-menu dl dt.cur { background: rgba(51,51,51,.5); }
/*轮播图样式*/
.ck-slide {
    width: 100%;
    height: 480px;
}
.ck-slide ul { margin: 0; padding: 0; list-style-type: none;width: 100%;height: 480px;}
.ck-slide { position: relative; overflow: hidden;}
.ck-slide ul.ck-slide-wrapper { position: absolute; top: 0; left: 0; z-index: 1; margin: 0; padding: 0;}
.ck-slide ul.ck-slide-wrapper li { position: absolute;width: 100%;height: 480px;background-color:#EA4B50;}
.ck-slide ul.ck-slide-wrapper li a{display: inline-block;width: 760px;height: 480px;position: absolute;top: 0;left: 295px;} 
.ck-slide .ck-prev, .ck-slide .ck-next { position: absolute; top: 50%; z-index: 2; width: 35px; height: 70px; margin-top: -35px; border-radius: 3px; opacity: .15; background: red; text-indent: -9999px; background-repeat: no-repeat; transition: opacity .2s linear 0s;opacity:0;}
.ck-slide .ck-prev { left: 23%; background: url(img/arrow-left.png) #000 50% no-repeat;}
.ck-slide .ck-next { right: 23%; background: url(img/arrow-right.png) #000 50% no-repeat;}
.ck-slidebox { position: absolute; left: 50%; bottom: 12px; z-index: 30;}
.ck-slidebox ul { height: 20px; padding: 0 4px; border-radius: 8px; background: rgba(0,0,0,.2);}
.ck-slidebox ul li { float: left; height: 12px; margin: 4px 4px;}
.ck-slidebox ul li em { display: block; width: 12px; height: 12px; border-radius: 100%; background-color: rgba(0,0,0,.2); text-indent: -9999px; cursor: pointer;}
.ck-slidebox ul li.current em { background-color: #fff;}
.ck-slidebox ul li em:hover { background-color: #fff;} 
.banner-bg { height: 480px; width: 100%; display: block; }
.bannerBox { margin-left: 220px; width:760px; overflow: hidden; position:relative; }
.banner-bd { height:480px; overflow:hidden; }
.banner-bd img { vertical-align: top; }
.banner-hd { width: 760px; position: absolute; left: 0; bottom: 20px; margin-left: 0; }
.banner-hd li { font-size:0; width: 12px; height: 12px; border-radius: 100%; background: rgba(0,0,0,.2); display: inline-block; margin: 0 3px; cursor:pointer; }
.banner-hd .on { background: #fff; }
.banner-btn { position:absolute; margin:10px; top:50%; margin-top:-35px; display:none; width:40px; height:70px; border-radius:3px; }
.bannerBox:hover .banner-btn{ display:block; }
.notice { margin-top: 0; background: #fff; }
.nav-menu dl dd { top: 0; min-height: 468px; border: 1px solid #dfdfdf; border-left: none; left: 220px; }
.nav-menu dl dd .right { height: 458px; }
.top-weizhi { line-height: 30px; color: #6b6b6b; overflow:hidden; display:block !important;}
.top-weizhi a { display:block;}
.top-weizhi i { width:14px; height:30px; background:url(img/weizhi.png) no-repeat center; float:left; margin-right: 6px;}
.side_title { height: 36px; line-height: 36px; padding: 0 10px; border-bottom: solid 1px #eee }
.side-tab a { color:#333;}
.side_title b { font-size: 14px; }
.notice { height:auto; border-left:1px solid #fff; border-right:1px solid #fff; }
.notice ul li { height:24px; line-height:24px; }
.notice ul li a { color:#999;}
.notice ul li:first-child a { color:#333; }
.notice ul li a:hover { color:#ff6700;}
.service { border-left:1px solid #fff; border-right:1px solid #fff; }
.service-menu a { height:73px; }

.font12 { font-size:12px;}
.font14 { font-size:14px;}
.font16 { font-size:16px;}

/*新版样式*/
.user-login { padding: 10px; }
.user-login dl { overflow:hidden;}
.user-login dt { float:left; border:3px solid #eee; border-radius:100%; overflow:hidden; width:42px; height:42px; margin:0 5px;}
.user-login dt img { width:100%; height:100%; }
.user-login dd { margin-left: 64px; line-height: 22px;}
.diy-topad a,.diy-title a { display: block; }
.diy-topad .close { position: absolute; right: 5px; top: 5px; z-index:9; }
.diy-topad img { vertical-align: top;}
.diy-skin { position: absolute; z-index:9;}
.diy-skin img { vertical-align: top; }
.diy-skin a { display: block; }
.diy-skinTop { width: 260px; top:-145px; left: -20px; text-align:center; }
.diy-skinLeft { width: 300px; top: 0; left: -300px; text-align: right; }
.diy-skinRight { width: 300px; top: 0; right: -300px; text-align: left; }
.diy-topic { margin-top:20px; }
.diy-topic .diy-list li { float: left; }
.diy-topic .diy-list li:last-child { margin-right: 0; }
.diy-troika { overflow: hidden; margin-top: 20px; }
.diy-troika .troika-list { float: left; width: 393px; background: #fff; }
.diy-troika .troika-body { padding: 10px; overflow: hidden; }
.diy-troika .troika-body a { display: block; position: relative; color:#555; width: 186px; height: 126px; }
.diy-troika .troika-body .big-img { border-bottom: 1px dashed #d6d6d6; width: 186px; height: 253px;}
.diy-troika .troika-body a img{ position: absolute; right: 0; bottom: 0;}
.diy-troika .troika-body .big-img img { position: absolute; bottom: 0; left: 13px; }
.diy-troika .troika-body .left { border-right: 1px dashed #d6d6d6; }
.diy-troika .troika-body .right a { border-bottom: 1px dashed #d6d6d6; }
.diy-troika .troika-body .right a:last-child { border-bottom: none; }
.diy-shouhou { margin-top: 20px; }
.diy-shouhou a { display:block;}
.diy-shouhou a img { vertical-align:top;}
.diy-shouhou .sh-tip { position: absolute; right: 0; top: 0; width: 375px; height: 160px; }
.diy-trial, .diy-rush { background: #fff; width: 595px; }
.diy-trial .trial-title img, .diy-rush .rush-title img { vertical-align:top; }
.diy-trial .sale-list, .diy-rush .sale-list { overflow: hidden; margin: 20px 10px; position:relative; }
.diy-trial .sale-list li, .diy-rush .sale-list li { width: 191px; border-right: 1px dashed #d6d6d6; float: left; }
.diy-trial .sale-list li:last-child, .diy-rush .sale-list li:last-child { border-right: none; }
.diy-trial .sale-list li a, .diy-rush .sale-list li a { display: block; height: 246px; position: relative; color:#555; }
.diy-trial .sale-list .sale-img, .diy-rush .sale-list .sale-img { position: absolute; bottom: 0; width: 100%; text-align: center; }
.rush-code { position: absolute; z-index:9; display:none; background:#fff; left:70px; box-shadow:0 1px 3px #aaa; }
.rush-code::after { content:''; position:absolute; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #fff; left:76px; top:-8px;}
.diy-arrow { position:absolute; top:50%; z-index:9; width:30px; height:60px; margin-top:-30px; display:none; }
.arr-left { left:0; background:rgba(0,0,0,.2) url(img/arrow_left.png) no-repeat center; background-size: 30px;}
.arr-right { right:0; background:rgba(0,0,0,.2) url(img/arrow_right.png) no-repeat center; background-size: 30px;}
.sale-list:hover .diy-arrow{ display:block;}
.diy-floor { background: #fff; margin-bottom: 20px; height:auto; }
.diy-floor .floor-main { padding: 10px; overflow: hidden; }
.diy-floor .leftAD { width: 190px; float: left; }
.diy-floor .textAD { line-height: 34px; position: absolute; top: -34px; width: 150px; left: -10px; padding: 0 30px 0 20px; opacity: 0.7; text-align: left; color: #fff; }
.diy-floor .textAD:hover { text-decoration: underline; }
.diy-floor .textAD em { font-family: "SimSun"; font-weight: bold; position: absolute; right: 10px; }
.diy-floor .bottomAD { position: relative; display: block; height: 150px; color: #fff; text-align: center; }
.diy-floor .bottomAD:before { content: ''; border-top: 6px solid #444; border-left: 10px solid transparent; left: -10px; top: 0; position: absolute; }
.diy-floor .bottomAD dl { padding: 30px 20px; }
.diy-floor .bottomAD dl dt { font-size: 26px; margin-bottom: 5px; }
.diy-floor .bottomAD dl dd span { width: 70px; display: inline-block; line-height: 20px; }
.diy-floor a { display: block; }
.diy-floor .shop-list { float: left; margin-left: 10px; width: 780px; height: 440px; }
.diy-floor .shop-list ul { overflow: hidden; height: 439px; }
.diy-floor .shop-list li { float: left; width: 25%; height: 220px; }
.diy-floor .shop-list li a { border-right: 1px dashed #d6d6d6; border-bottom: 1px dashed #d6d6d6; display: block; height: 220px; }
.diy-floor .shop-list li img { position: absolute; right: 0; bottom: 0; }
.diy-floor .rightAD { width: 200px; float: right; }
.diy-floor .rightAD a { height: 110px; }
.diy-floor .rightAD a img { position: absolute; right: 0; bottom: 0; }
.diy-floor .brand-link { height: 46px; line-height: 46px; position:relative; }
.diy-floor .brand-link .link-bg { height: 46px; opacity: .3; }
.diy-floor .brand-link .link-list { position: absolute; padding: 0 15px; width: 100%; z-index: 9; }
.diy-floor .brand-link .link-list span { font-size: 16px; margin-right: 20px; }
.diy-floor .brand-link .link-list a { float: left; font-size: 14px; line-height: 16px; border-right: 1px solid rgba(0, 0, 0, 0.1); margin: 16px 0 0 15px; padding-right: 15px; }
.diy-floor .brand-link .link-list a:hover { text-decoration: underline; }
.diy-floor .brand-link .link-list a:last-child { border-right: none; }

.diy-elevator { position: fixed; top: 50px; margin-left: -50px; display: none; z-index:9; }
.diy-elevator a { width: 28px; height: 28px; padding: 4px; text-decoration:none; line-height: 14px; display: block; text-align: center; background: #bbb; color: #fff; margin-bottom: 1px; cursor: pointer; overflow: hidden; }
.diy-elevator a:last-child { background: #e12e2e; }
.diy-elevator a:hover,.diy-elevator a.active { background: #333; }

.diy-tip { position: absolute; left: 0; top: 0; padding: 10px 10px; line-height: 18px; width:170px; }
.diy-tip h3 { font-size: 16px; padding-bottom: 8px; font-weight:normal; }

/*动画*/
.anim-left { overflow: hidden; position: relative; }
.anim-left img { -webkit-transition-duration: .3s; -o-transition-duration: .3s; transition-duration: .3s; vertical-align:top; }
.anim-left:hover img { -webkit-transform: translateX(-10px); -o-transform: translateX(-10px); transform: translateX(-10px); }

.anim-zoom { overflow: hidden; position: relative; }
.anim-zoom img { -webkit-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; vertical-align:top; }
.anim-zoom:hover img { -webkit-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }

.anim-top { -webkit-transition-duration: .3s; -o-transition-duration: .3s; transition-duration: .3s; }
.anim-top:hover { -webkit-transform: translateY(-3px); -o-transform: translateY(-3px); transform: translateY(-3px);}

.goodCommodity ul { width:1215px;}
.goodCommodity li { width: 202px; height: 280px; padding: 15px; float: left; margin-right: 10px; margin-bottom:10px; background: #fff; line-height:20px; }
.goodCommodity li:hover { box-shadow: 0 0 20px #ccc; }
.goodCommodity li a { display:block; text-decoration:none; color:#555;}
.goodCommodity li img { vertical-align:top; width:100%;}
.goodCommodity li p { font-size:14px; line-height:30px;}
.goodCommodity li span { display:block;}
.loadmore { text-align:center; padding-top:10px;}
.loadmore a { width:200px; height:40px; line-height:40px; background:#fff; border:none; font-size:14px; border:1px solid #dfdfdf; color:#999;}
.loadmore a:hover { background:#e12e2e; color:#fff; border:1px solid #e12e2e; }

/*首页特色服务样式*/
.service-menu a i { width: 36px; height: 36px; margin: 8px auto 4px; }
.service-icon { background: url(img/service-icon-new.png) no-repeat; -ms-behavior: url(/static/style/background-size.htc); }

.service-menu a i.vip { background-position: 0 0; }
.service-menu a i.md { background-position: -48px 0; }
.service-menu a i.zt { background-position: -96px 0; }
.service-menu a i.sm { background-position: -143px 0; }
.service-menu a i.zc { background-position: -191px 0; }
.service-menu a i.sy { background-position: -239px 0; }
.service-menu a i.qd { background-position: -287px 0; }
.service-menu a i.bx { background-position: -333px 0; }
.service-menu a i.yb { background-position: -381px 0; }

.service-menu a:hover i.vip { background-position: 0 0; }
.service-menu a:hover i.md { background-position: -48px 0; }
.service-menu a:hover i.zt { background-position: -96px 0; }
.service-menu a:hover i.sm { background-position: -143px 0; }
.service-menu a:hover i.zc { background-position: -191px 0; }
.service-menu a:hover i.sy { background-position: -239px 0; }
.service-menu a:hover i.qd { background-position: -287px 0; }
.service-menu a:hover i.bx { background-position: -333px 0; }
.service-menu a:hover i.yb { background-position: -381px 0; }